[submodule "Source/Dependencies/Panshilar"]
	path = Source/Dependencies/Panshilar
	url = git@github.com:herohiralal/Panshilar.git
	branch = main
[submodule "Source/Dependencies/AndroidGameActivity"]
	path = Source/Dependencies/AndroidGameActivity
	url = git@github.com:herohiralal/AndroidGameActivity-C.git
    branch = main
